
.invoice-list-item-info{
	color:#999;
	font-size: 13px!important;
	display: block;
	margin:0px!important;
}

.invoice-list-item-info .yes{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: green;
}

.invoice-list-item-info .no{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: red;
}

.md .list .item-label, .ios .list .item-label{
	color:#333 !important;
	font-weight: bold;
}

.md .toolbar{
	background: #fff !important;
}

.btn{
	height:50px;
	text-align: center;
	padding:20px;
	border-radius: 5px;
	color:#fff!important;
	font-size: 18px;
	line-height: 10px;
	margin-top: 10px;



}

.btn-block{
	width:100%;
}

p{
	font-size: 18px !important;
	margin-bottom: 5px !important;
}
h3{
	font-size: 20px !important;
	margin:12px 0px !important;
	color:#ff2d55;
}

.bg-green{
	background-color:green;
}

.bg-gradient{
	background-color:#ccc;
}

.bg-car-pooling{
	background-color:#36506b;
}

.bg-gruppi-di-acquisto{
	background-color:#36506b;
}

.bg-banca-del-tempo{
	background-color:#36506b;
}

.bg-eventi{
	background-color:#36506b;
}

.bg-spazi-condivisi{
	background-color:#36506b;
}

.bg-red{
	background: red;
}

.category-btn{
	padding: 12px;
    color: #fff !important;
    display: block;
    text-align: center;
    margin-bottom:5px;
    font-size: 16px;
    border-radius: 4px;
    font-size: 20px;
}

.dashboard-intro{
	background-color:#ececec;
	padding:10px !important;
	margin-top:0px!important;
}

.bg-grey-light{
	background-color:#ececec;
}

.bg-blue-dark_{
	background-color:#042453;
}

.bg-blue-light_{
	background-color: #084ec0;
}

.bg-blue-light-super_{
	background-color: #2b64cb;
}

.dashboard-intro h2{
	margin-bottom: 10px;
}

.color-blu{
color:#41678b !important;
}

.button{
	font-size: 20px !important;
	margin-bottom: 10px;
}

.results-list{

}

.results-list .results-item .result-icon{
	color:#fff;
	display: block;
	text-align: center;
}

.results-list a{
	color: #6d6d72
}

.results-list .results-item{
	padding:10px 0px;
}

.results-list .results-item p, .results-list .results-item h3{
	padding:0px;
	margin:0px;
	line-height: 16px;
}

.results-list .results-item h3{
	margin: 5px 0px;
}

.results-list .results-item p{
	font-size: 13px;
}

.block-no-v-margin{
	margin:0px 0px !important;
}

.border-bottom-1px-grey{
	border-bottom:1px solid #ececec;
}

.toolbar-results-list-filters{
	top:44px!important;
}

.button.button-active, .button.tab-link-active{
	background: #36506b !important;
	color:white!important;
}

.segmented .button{
	border-color:white!important;
	color:#36506b;
}


.toolbar-inner a {
	color:#36506b!important;
}

.product-page-user-info{
	text-align: center
}

.product-page-user-info h3{
	margin:0px 0px 10px 0px;
}

.product-page-user-info p{
	margin:0px;
}

.map{
	width: 100%;
	height:320px;
}

.map.full-screen{
	height:100%;
}

.item-after{
	color:#555!important;
	max-width: 100%!important;
	padding-left:0px!important;
	margin-top:10px!important;
}
