<!-- Initial Page, "data-name" contains page name -->
<div data-name="clients-list" class="page">
	<div class="navbar">
		<div class="navbar-inner bg-gradient">
			<div class="left line-button">
				<a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
			</div>
			<div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>
		</div>

	</div>
	<div class="subnavbar" style="margin-top:5px;">
        <form data-search-container=".virtual-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search"/>
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
	<div class="page-content">
		<div class="fab fab-right-bottom color-blue">
			<a href="/edit-new-client/">+</a>
		</div>
		<div class="list contacts-list">
			<div class="list-group">
				<ul>
					<li class="list-group-title">A</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Aaron </div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Abbie</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Adam</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Adele</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Agatha</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Agnes</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Albert</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Alexander</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-group">
				<ul>
					<li class="list-group-title">B</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Bailey</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Barclay</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Bartolo</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Bellamy</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Belle</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Benjamin</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-group">
				<ul>
					<li class="list-group-title">C</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Caiden</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Calvin</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Candy</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Carl</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Cherilyn</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Chester</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Chloe</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-group">
				<ul>
					<li class="list-group-title">V</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Vladimir</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

