<!-- Initial Page, "data-name" contains page name -->
<div data-name="create-invoice" class="page">
	<div class="navbar">
		<div class="navbar-inner bg-gradient">
			<div class="left line-button">
				<a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
			</div>
			<div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>
		</div>
	</div>
	<div class="page-content bg-grey-light">
		<div class="block">
			<div class="list">	
				<ul>
					<li>
						<a href="/document-types/" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Tipo di documento</b></div>
								</div>
								<div class="col text-align-right">
									Fattura
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="list">	
				<ul>
					<li>
						<a href="/clients-list/" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Cliente</b></div>
								</div>
								<div class="col text-align-right">
									Marco Rossi
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="list">	
				<ul>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Realizzazione del sito (per ora)</b></div>
								</div>
								<div class="col text-align-right">
									100,00€
								</div>

							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Indicizzazione</b></div>
								</div>
								<div class="col text-align-right">
									200,00€
								</div>

							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Design logo Siweb</b></div>
								</div>
								<div class="col text-align-right">
									250,00€
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/new-invoice-item/" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Aggiungi nuova voce</b></div>
								</div>
							</div>
						</a>
					</li>
				</li>

			</ul>
		</div>	


		<div class="list">	
			<ul>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-inner row">
							<div class="col">
								<div class="item-title"><b>Subtotale</b></div>
							</div>
							<div class="col text-align-right">
								550,00€
							</div>

						</div>
					</a>
				</li>

				<li>
					<a href="#" class="item-link item-content">
						<div class="item-inner row">
							<div class="col">
								<div class="item-title"><b>IVA</b></div>
							</div>
							<div class="col text-align-right">
								121,00€
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-inner row">
							<div class="col">
								<div class="item-title">Totale</div>
							</div>
							<div class="col text-align-right">
								671,0€
							</div>

						</div>
					</a>
				</li>

			</ul>
		</div>	
		<div class="list">	
				<ul>
					<li>
						<a href="/payment-methods/"" class="item-link item-content">
							<div class="item-inner row">
								<div class="col">
									<div class="item-title"><b>Modalità di pagamento</b></div>
								</div>
								<div class="col text-align-right">
									Bonifico Unicredit
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>	
			<div class="row">
				<a class="col btn btn-block bg-blue-dark_">Salva</a>
				<a class="col btn btn-block bg-blue-dark_">Salva e invia</a>
			</div>	
	</div>
</div>
</div>
