<!-- Initial Page, "data-name" contains page name -->
<div data-name="dashboard" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner bg-gradient">
            <div class="left line-button">
                <a  class="panel-open" href="#"><i class="icon-menu"></i></a>
            </div>
            <div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>
           
    </div>

</div>




<!-- Toolbar -->
<div class="toolbar tabbar-labels">
    <div class="toolbar-inner">
        <a href="/home-categories/" class="link">
            <i class="icon-magnifier"></i>
            <span class="tabbar-label">FATTURE</span>
        </a>
        <a href="/item-insert-form/" class="link">
            <i class="icon-plus"></i>
            <span class="tabbar-label">CLIENTI</span>
        </a>
        <a href="/chat-list/" class="link">
            <i class="icon-speech"></i>
            <span class="tabbar-label">SINCRONIZZAZIONE</span>
        </a>
        <a href="/user/" class="link">
            <i class="icon-user"></i>
            <span class="tabbar-label">PROFILO</span>
        </a>
    </div>
</div>

<!-- Scrollable page content -->
<div class="page-content bg-grey-light">
    <div class="block dashboard-intro">
        <div class="row">
            <div class="col-30"><div style="width:80px; height:80px; background-color: #41678b; display: inline-block"></div></div>
            <div class="col-70">
                <h2 class="color-black">Mario Rossi spa</h2>
                <div class="row">
                    <div class="col color-black">Partita iva: 12341234123</div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="block text-align-center">
            <a class="button color-blue button-fill button-big buttons-full" href="/create-invoice/">Crea documento</a>
        
        
            <a class="button color-blue button-fill button-big buttons-full" href="/list-invoice/">Elenco fatture</a>
        
        
            <a class="button color-blue button-fill button-big buttons-full" href="/clients-list/">Anagrafica clienti</a>
        
        
            <a class="button color-blue button-fill button-big buttons-full">Sincronizza</a>
        </div>
  
</div>