

<!-- Initial Page, "data-name" contains page name -->
<div data-name="dashboard" class="page page-scheduloo-cosa">

	<!-- Top Navbar -->
	<div class="navbar">
		<div class="navbar-inner bg-gradient">
			<div class="left line-button">
				<a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
			</div>
			<div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>

		</div>

	</div>




	<!-- Scrollable page content -->
	<div class="page-content bg-grey-light">

		<div class="block-title">Azienda</div>
		<div class="list no-hairlines-md">
			<ul>
				
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Denominazione">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>

				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap row">
							<input style="display: block; float: left; width: 200px" type="url" placeholder="Persona fisica">
							<label class="toggle toggle-init">
								<input style="display: block; float:left" type="checkbox" name="toggle" value="yes"><i class="toggle-icon"></i>
							</label>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Nome">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Cognome">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Codice fiscale">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Id Paese">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Partita IVA">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Codice fiscale">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="EORI">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>

				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="email" placeholder="Codice Destinatario">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>

				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="email" placeholder="PEC Destinatario">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="block-title">Sede</div>
		<div class="list no-hairlines-md">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Indirizzo">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Numero civico">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Cap">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="url" placeholder="Comune">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>

				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<select>
								<option>Provincia</option>
								<option>Firenze</option>
								<option>Roma</option>
							</select>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<select>
								<option>Nazione</option>
								<option>Italia</option>
								<option>Svizzera</option>
							</select>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="row text-align-center">
			<a class="col btn btn-block bg-blue-dark_">Salva</a>
		</div>
	</div>

</div>



