    <!-- Initial Page, "data-name" contains page name -->
    <div data-name="register1_scheduloo" class="page">
        <div class="navbar">
        <div class="navbar-inner">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>
            <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
        </div>
    </div>
        <!-- Scrollable page content -->
        <div class="page-content bg-gradient">
            <div class="reg_form">
                <div class="list no-hairlines-md">
                    <div class="block">
                        <ul class="margin-bottom-10">
                            <li class="item-content item-input">
                                <div class="item-inner">


                                   <a class="item-link smart-select smart-select-init" data-open-in="popup"  data-searchbar="false" data-searchbar-placeholder="Cerca categoria">
                                    <div class="item-title item-label">Categoria</div>
                                     <select name="car">
                                        <optgroup label="Car Pooling">
                                            <option value="honda" >Passaggi</option>
                                        </optgroup>
                                        <optgroup label="Banca del tempo">
                                            <option value="audi" >Lezioni di pianoforte</option>
                                        </optgroup>
                                        <optgroup label="Eventi">
                                            <option value="cadillac">Cinema all'aperto</option>
                                        </optgroup>
                                    </select>
                                   
                                    </a>

                            </div>
                        </li>
                            <li class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Titolo</div>
                                    <div class="item-input-wrap">
                                        <input type="text" placeholder="Il titolo del tuo annuncio">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content item-input">
                                <div class="item-inner">
                                    
                                    <div class="item-input-wrap">
                                        <textarea placeholder="Descrivi il tuo annuncio"></textarea>
                                    </div>
                                </div>
                            </li>
                            
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Partenza</div>
                                <div class="item-input-wrap">
                                   <input type="text" placeholder="Via Roma, 101 Firenze">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Arrivo</div>
                                <div class="item-input-wrap">
                                   <input type="text" placeholder="Via Francia, 11 Firenze">
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div style="height: 70px"></div>
                <div class="splashFooter">
                    <div class="block">
                        <a href="/register2-scheduloo/" class="button color-pink button-fill button-big buttons-full">Avanti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>