<!-- Initial Page, "data-name" contains page name -->
<div data-name="create-invoice" class="page">
	<div class="navbar">
		<div class="navbar-inner bg-gradient">
			<div class="left line-button">
				<a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
			</div>
			<div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>
		</div>
	</div>
	<!-- Toolbar -->
<div class="toolbar tabbar-labels">
    <div class="toolbar-inner">
        <a href="/home-categories/" class="link">
            <i class="icon-magnifier"></i>
            <span class="tabbar-label">FATTURE</span>
        </a>
        <a href="/item-insert-form/" class="link">
            <i class="icon-plus"></i>
            <span class="tabbar-label">CLIENTI</span>
        </a>
        <a href="/chat-list/" class="link">
            <i class="icon-speech"></i>
            <span class="tabbar-label">SINCRONIZZAZIONE</span>
        </a>
        <a href="/user/" class="link">
            <i class="icon-user"></i>
            <span class="tabbar-label">PROFILO</span>
        </a>
    </div>
</div>
	<div class="page-content bg-light-grey">
		<div class="fab fab-right-bottom color-blue">
			<a href="/create-invoice/">+</a>
		</div>
		<div class="block">
			<div class="row">
				<div class="col">
					<h3 class="color-black">Elenco Fatture</h3>
				</div>
				<div class="col text-align-right">
					<h3 class="color-black">Sincronizza</h3>
				</div>
			</div>
			
			<div class="list">
				<ul>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="icon icon-f7"></i></div>
							<div class="item-inner">
								<div class="item-title">
									<div class="item-header">Loreno Curiale</div>
									FAT0034

									<p class="invoice-list-item-info">Sincronizzata <span class="yes"></span></p>
									<p class="invoice-list-item-info">Inviata <span class="no"></span></p>
								</div>
								<div class="item-after">915,01€</div>
							</div>

						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="icon icon-f7"></i></div>
							<div class="item-inner">
								<div class="item-title">
									<div class="item-header">Marco Rossi</div>
									FAT0123

									<p class="invoice-list-item-info">Sincronizzata <span class="yes"></span></p>
									<p class="invoice-list-item-info">Inviata <span class="yes"></span></p>
								</div>
								<div class="item-after">845,03€</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="icon icon-f7"></i></div>
							<div class="item-inner">
								<div class="item-title">
									<div class="item-header">Loreno Curiale</div>
									FAT0034

									<p class="invoice-list-item-info">Sincronizzata <span class="no"></span></p>
									<p class="invoice-list-item-info">Inviata <span class="no"></span></p>
								</div>
								<div class="item-after">915,01€</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="icon icon-f7"></i></div>
							<div class="item-inner">
								<div class="item-title">
									<div class="item-header">Marco Rossi</div>
									FAT0123
									
									<p class="invoice-list-item-info">Sincronizzata <span class="yes"></span></p>
									<p class="invoice-list-item-info">Inviata <span class="no"></span></p>
								</div>
								<div class="item-after">845,03€</div>
							</div>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>