<!-- Initial Page, "data-name" contains page name -->
<div data-name="login" class="page">
   <!-- <div class="fab fab-right-top color-pink">
    <a href="#">
      
      <i class="icon-options-vertical"></i>
      <i class="icon-options"></i>
    </a>
    
    <div class="fab-buttons fab-buttons-left">
      <a href="/page-scheduloo-cosa/" class="link">1</a>
      <a href="/page-scheduloo-cosa-1/" class="link">2</a>
      <a href="/results-scheduloo/" class="link">3</a>
      <a href="/when-scheduloo/" class="link">4</a>
    </div>
</div>-->
<!-- Scrollable page content -->
<div class="page-content bg-gradient">
	<div class="app-wrapper">
		<div class="app-wrapper-inner">
			<div class="page no-navbar no-toolbar no-swipeback">
				<div class="page-content login-screen-content">
					<div class="login-screen-title"> <a href=""><img src="img/ioabitologo.png" alt="" width="230" class="img-responsive" /></a></div>
					<form>
						<div class="list">
							<div class="block-header">
								<h3 class="color-black">Accedi con le tue credenziali</h3>
							</div>
						</div>
						<div class="list">
							<ul>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Username</div>
										<div class="item-input-wrap">
											<input type="text" name="username" placeholder="Il tuo username">
										</div>
									</div>
								</li>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Password</div>
										<div class="item-input-wrap">
											<input type="password" name="password" placeholder="La tua password">
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="list">
							<div style="padding:10px;">
									 <a href="/dashboard/" class="button color-blue button-fill button-big buttons-full">Accedi</a>
							</div>
							<div class="block-footer">\
								
								<p><a href="/" class="link back">Torna indietro</a></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>