

<!-- Initial Page, "data-name" contains page name -->
<div data-name="dashboard" class="page page-scheduloo-cosa">

	<!-- Top Navbar -->
	<div class="navbar">
		<div class="navbar-inner bg-gradient">
			<div class="left line-button">
				<a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
			</div>
			<div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>

		</div>

	</div>




	<!-- Scrollable page content -->
	<div class="page-content bg-grey-light">

		<div class="block-title">Nuova riga fattura</div>
		<div class="list no-hairlines-md">
			<ul>
				
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<textarea placeholder="Descrizione"></textarea>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Quantità">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>

				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Prezzo unitario">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>

				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Prezzo totale">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<select>
								<option>IVA</option>
								<option>10%</option>
								<option>20%</option>
								<option>22</option>
							</select>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<select>
								<option>Ritenuta</option>
							</select>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<select>
								<option>Sconto maggiorazione</option>
							</select>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Percentuale">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap">
							<input type="text" placeholder="Importo">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>

	
		<div class="row text-align-center">
			<a href="/create-invoice/" class="col btn btn-block bg-blue-dark_">Inserisci riga</a>
		</div>
	</div>

</div>



