<!-- Initial Page, "data-name" contains page name -->
<div data-name="page-scheduloo-cosa" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner navbar-white">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>
            <div class="title">Servizi Estetici</div>
        </div>
    </div>

    <!-- Toolbar -->
    <!--    <div class="toolbar">
            <div class="toolbar-inner">
                 Toolbar links 
                <a href="#" class="link">Link 1</a>
                <a href="#" class="link">Link 2</a>
            </div>
        </div>-->

    <!-- Scrollable page content -->
    <div class="page-content white-bg">
        <div class="list-style-box">
            <div class="list links-list">
                <ul>
                    <li><a href="#">Taglio Unghie</a></li>
                    <li><a href="#">Smalto</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>