<!-- Initial Page, "data-name" contains page name -->
<div data-name="clients-list" class="page">
	<div class="navbar">
		<div class="navbar-inner bg-gradient">
			<div class="left line-button">
				<a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
			</div>
			<div class="title"><a class="link" href=""><img src="img/ioabitologo_small.png" width="120" class="img-responsive" alt="" /></a></div>
		</div>
	</div>
	<div class="page-content">
		<div class="fab fab-right-bottom color-blue">
			<a href="/edit-new-client/">+</a>
		</div>
		<div class="list contacts-list">
			<div class="list-group">
				<ul>
					
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Bonifico Unicredit </div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Rimessa Diretta</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Aggiungi metodo di pagamento</div>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>

