<!-- Initial Page, "data-name" contains page name -->
<div data-name="product-page" class="page page-scheduloo-cosa">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-inner navbar-white">
      <div class="left line-button">
        <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
      </div>
      <div class="title">Passaggio da Firenze sud a ...</div>
    </div>
  </div>

  <!-- Toolbar -->
          <!-- Scrollable page content -->
          <div class="page-content white-bg">
           <div class="block block-no-v-margin border-bottom-1px-grey">
           <!-- <div class="row">
                <i class="fa fa-truck fa-4x"></i>
              </div>-->
              <div class="row results-item">
                <div class="col-100">
                  <h3>Passaggio da firenze sud a scandicci</h3>
                  <p><i class="fa-map-marker fa"></i> da: Via Garibaldi,101 Firenze </p>
                  <p><i class="fa-map-marker fa"></i> a: Via Roma,11 Firenze </p>
                  <p>Tutte le mattine offro il passaggio tranne il lunedì a studenti e professioniste.</p>
                </div>
              </div>
              <div id="map-product" class="map"></div>
              <div class="row">
                <div class="col-100 product-page-user-info">
                  <h3>Giovanni</h3>
                <p>25 annuni caricati</p>
                </div>

              </div>
            </div>

          </div>
          <div class="toolbar tabbar-labels">
            <div class="toolbar-inner">
              <a href="#tab-1" class="tab-link tab-link-active">
                <!-- Different icons for iOS and MD themes -->
                <i class="icon f7-icons">phone</i>
                <!-- Label text -->
                <span class="tabbar-label">Chiama</span>
              </a>
              <a href="#tab-2" class="tab-link">
                <i class="icon f7-icons">chats</i>
                <span class="tabbar-label">Chatta</span>
              </a>
            </div>
          </div>
        </div>
