<!-- Initial Page, "data-name" contains page name -->
<div data-name="register3-scheduloo" class="page">
    <div class="navbar">
        <div class="navbar-inner ">
<!--            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>-->
            <div class="title"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="reg_form">
            <div class="cover-container text-center">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <div class="block">
                    <div class="text-center">
                        <p><strong>Inserisci il tuo Codice</strong></p>
                        <p class="color-pink"><i class="icon-pencil"></i> +393452287526</p>
                    </div>
                    <ul class="margin-bottom-10 number-center">
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <div class="row input-bg">
                                        <div class="col-20"><input type="number" placeholder=""></div>
                                        <div class="col-20"><input type="number" placeholder=""></div>
                                        <div class="col-20"><input type="number" placeholder=""></div>
                                        <div class="col-20"><input type="number" placeholder=""></div>
                                        <div class="col-20"><input type="number" placeholder=""></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="/home-categories/" class="button color-pink button-fill button-big buttons-full">Continua</a>
                </div>
                <div class="block">
                    <p class="text-center">Non ho ricevuto il codice, invia di nuovo</p>
                </div>
            </div>
        </div>
    </div>
</div>