<!-- Initial Page, "data-name" contains page name -->
<div data-name="results-scheduloo" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar bg-gradient">
        <div class="navbar-inner bg-gradient">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>
            <div class="title">Car pooling</div>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="#" class="link">
                <i class="icon-magnifier"></i>
                <span class="tabbar-label">ESPLORA</span>
            </a>
            <a href="#" class="link">
                <i class="icon-heart"></i>
                <span class="tabbar-label">SALVATI</span>
            </a>
            <a href="#" class="link">
                <i class="icon-speech"></i>
                <span class="tabbar-label">POSTA</span>
            </a>
            <a href="#" class="link">
                <i class="icon-user"></i>
                <span class="tabbar-label">PROFILO</span>
            </a>
        </div>
    </div>

    <!-- Scrollable page content -->
    <div class="page-content white-bg">
        <div class="scheduloo-mods">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li class="item-content item-input">
                        <div class="row">
                            <div class="col-10">
                                <div class="item-media">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="col-40">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <input type="text" placeholder="Prima Possibile" readonly="readonly" id="demo-calendar-date-format">
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="item-media">
                                    <i class="icon-control-play"></i>
                                </div>
                            </div>
                            <div class="col-40">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <input type="text" placeholder="Vicino a Me">
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="results-scheduloo">
                <div class="block">
                    <div class="image-panel">
                        <img src="img/img-1.jpg" class="img-responsive" alt="" />
                        <span class="post-caption">2 gennaio 2017<br>dalle 15:00</span>
                    </div>
                    <div class="post-title">
                        <div class="block">
                            <div class="row">
                                <div class="col-70">
                                    <h3 class="margin-0">Gabrio Staff Olimpo</h3>
                                    <p class="margin-top-0">(250mt da te)</p>
                                </div>
                                <div class="col-30">
                                    <div class="text-right color-pink">PRENOTA</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="image-panel">
                        <img src="img/img-2.jpg" class="img-responsive" alt="" />
                        <span class="post-caption">Domani<br>dalle 10:00</span>
                    </div>
                    <div class="post-title">
                        <div class="block">
                            <div class="row">
                                <div class="col-70">
                                    <h3 class="margin-0">Seal Solarium</h3>
                                    <p class="margin-top-0">(250mt da te)</p>
                                </div>
                                <div class="col-30">
                                    <div class="text-right color-pink">PRENOTA</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>