<!-- Initial Page, "data-name" contains page name -->
<div data-name="results-list" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner bg-gradient">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>
            <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
            <div class="subnavbar ">
                <div class="subnavbar-inner white-bg">
                  <div class="segmented segmented-raised">
                    <a class="button tab-link tab-link-active" href="#tab1">Lista</a>
                    <a class="button tab-link" href="#tab2">Mappa</a>
                    <a class="button tab-link" href="#tab3">Filtra per</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="navbar">
    <div class="navbar-inner bg-gradient">
        <div class="left line-button">
            <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
    </div>
</div>

<!-- Toolbar -->
<div class="toolbar tabbar-labels">
    <div class="toolbar-inner">
        <a href="/home-categories/" class="link">
            <i class="icon-magnifier"></i>
            <span class="tabbar-label">ESPLORA</span>
        </a>
        <a href="/item-insert-form/" class="link">
            <i class="icon-plus"></i>
            <span class="tabbar-label">AGGIUNGI</span>
        </a>
        <a href="/chat-list/" class="link">
            <i class="icon-speech"></i>
            <span class="tabbar-label">POSTA</span>
        </a>
        <a href="/user/" class="link">
            <i class="icon-user"></i>
            <span class="tabbar-label">PROFILO</span>
        </a>
    </div>
</div>

<!-- Scrollable page content -->
<div class="page-content white-bg">
    <div class="tabs">
        <div class="tab tab-active" id="tab1">
            <div class="results-list">
                <div class="block block-no-v-margin border-bottom-1px-grey">
                    <a href="/product-page/1/">
                        <div class="row results-item">
                            <div class="col-100">
                                <p><i class="fa fa-truck"></i> Passaggi</p>
                                <h3>Passaggio da firenze sud a scandicci</h3>
                                <p><i class="fa-map-marker fa"></i> da: Via Garibaldi,101 Firenze </p>
                                <p><i class="fa-map-marker fa"></i> a: Via Roma,11 Firenze </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="block block-no-v-margin border-bottom-1px-grey">
                    <div class="row results-item">
                        <div class="col-100">
                            <p><i class="fa fa-truck"></i> Passaggi</p>
                            <h3>Passaggio da firenze sud a scandicci</h3>
                            <p><i class="fa-map-marker fa"></i> da: Via Garibaldi,101 Firenze </p>
                            <p><i class="fa-map-marker fa"></i> a: Via Roma,11 Firenze </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab map-list" id="tab2">
            <div id="map-results" class="map full-screen">

            </div>
        </div>
        <div class="tab" id="tab3">
            <div class="list-style-box">
            <div class="list links-list text-center">
                <ul>
                    <li><a href="#">Categoria 1</a></li>
                    <li><a href="#">Categoria 2</a></li>
                    <li><a href="#">Categoria 3</a></li>
                    <li><a href="#">Categoria 4</a></li>
                </ul>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>